@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    url("../assets/fonts/inter-400.woff2") format("woff2"),
    url("../assets/fonts/inter-400.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:
    url("../assets/fonts/inter-700.woff2") format("woff2"),
    url("../assets/fonts/inter-700.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src:
    url("../assets/fonts/inter-900.woff2") format("woff2"),
    url("../assets/fonts/inter-900.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #30353d;

  background-color: #ffffff;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0, 0.1);
}

/* Header */
.header {
  background-color: #d5dae4;
  box-shadow: 0 3px 6px -2px #9fa1a5;
  z-index: 1;
}

.nav {
  margin: 0 80px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin-left: 40px;
}

.nav-link {
  display: block;
  padding: 30px 10px;
  font-size: 20px;
  color:inherit
}

.nav-link:hover {
  color: rgba(48, 53, 61, 0.5);
}

/* Footer */

.footer {
  background-color: #d5dae4;
  box-shadow: 0 -3px 6px -2px #9fa1a5;
}

.footer-container {
  display: flex;
  align-items: center;
  margin: 0 80px;
  padding: 30px 0;
}

.copyright {
  margin-left: 10px;
}

.logo {
  margin-left: auto;
}

/* Main */

.main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.section:nth-child(odd) {
  width: 35%;
  padding: 40px 40px 40px 80px;
}

.section:nth-child(even) {
  width: 65%;
  padding: 40px 80px 40px 40px;
}

.section--dark {
  background-color: #d5dae4;
}
